.report-area{
    position: fixed;
    bottom:20px;
    right: 20px;
    width: 200px;
    height: 90px;
    background: #1E1C1C;
    border-radius: 5px;
    text-align: center;
    transition: all .3s ease-in-out;
    color: #fafafa;
    font-size: 30px;

}

.mam-pytanie{

}

.report-btn{

}

.question-icon{
    color: #fafafa 
}
  
.report-area:hover {
    border-radius: 5px;
    width: 300px;
    height: 200px;  
    z-index: 11111;
    cursor: pointer;
  }
  
  .text {
    color: #fff;
    opacity: 0;
    text-align: center;
    padding-top: 0px;
    transition: all .3s ease-in-out;
  }
  
  .report-area:hover .text {
    padding-top: 40px;
    opacity: 1;
  }