.App {
  text-align: center;
}

.ui.cards>.card {
  margin: 20px !important;
}

.ui.cards {
  display: flex;
  flex-direction: row !important;
  display: -ms-flexbox;
  display: flex;
  margin: -.875em -.5em;
  /* -ms-flex-wrap: wrap; */
  flex-wrap: inherit !important;
  margin: 30px !important;
}

.name{
  margin-top: 10px !important;
}