.modal, .active{ 
    margin: 0 auto !important;
    border-radius:0 !important;
}

.ui.modal>.actions {
    background: #bdbdbd03 !important;
}

.ui.modal .actions>.button {
    border-radius:0 !important;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #292c2f !important;
}

.ui.checkbox {
    margin-top: 10px;
}

.ui.modal>.content>.description{
    display: flex !important;
    flex-direction: column !important;
}

.text-area-div{
    margin-top: 30px;
}