.img{
    margin-top: 40px;
    margin-left:10px;
    margin-right:10px;
}

.left-img{
    float: left;
    opacity: 0.5;
}

.right-img{
    float: right;
    /* opacity: 0.5; */
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-family: "HM Ampersand","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 20px;
    width: 80%;
    margin: 30px;
    margin-bottom: 0px;
}

.product{
    display: flex;
    align-items: flex-start;
}

.line{
    border-bottom: 1px solid black;
}

.Dropdown-root{
    width: 300px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.price{
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.price-label{
    font-size: 22px;
    margin:10px
}

.desc{
    width: 60%;
    word-wrap: break-word;
}

.desc-div{
    text-align: center;
}

.question-div{
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    width: 385px;
    height: 130px;
    background: #1a1a1a;
    color: white;
    border-radius: 2px;
    font-family: "HM Ampersand","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

p{
    margin: 0 !important
}

.open-modal-btn{
    width: 245px;
    border: none;
    height: 40px;
    background: #fafafa;
    box-shadow: 2px #fafafa;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    font-family: "HM Ampersand","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

.open-modal-btn:active { 
    background-color: #C1BCBC;
}